* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #F6F6F6;
  display: grid;
  grid-template-columns: 257px auto;
}

menu {
  grid-column: 1;
  background-color: white;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  width: 208px;
  height: calc(100vh - 48px);
  padding: 24px;
  float: left;
  position: fixed;
}

.user_profile {
  height: 66px;
}

.avatar {
  border-radius: 23px;
  float: left;
  margin-right: 16px;
}

.user {
  font-size: 14px;
  margin-top: 8px;
}

.email {
  font-size: 11px;
  color: #90A0B7;
  margin-top: 3.81px;
}

.menu_section {
  padding: 10px 0px;
  border-top: 1px solid #EBEFF2;
}

.menu_section ul {
  list-style: none;
  list-style-position: outside;
}

.menu_section ul li {
  height: 20px;
  margin: 10px 0px;
}

.menu_section ul li a {
  text-decoration: none;
  color: black;
  line-height: 16px;
}

.menu_section ul li .selected {
  color: #109CF1;
}

.menu_section ul li a img {
  /* position: relative;
  top: 2px; */
  margin-right: 14px;
  vertical-align: middle;
}

.logo {
  margin-top: calc(100vh - 302px);
  font-size: 24px;
  color: #109CF1;
}

.body_container {
  grid-column: 2;
  padding: 20px;
}

.tile {
  background-color: white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  float: left;
  margin: 20px;
}

.posture_today {
  width: 445px;
  height: 334px;
}

.points {
  width: 293px;
  height: 334px;
}

.rewards_earned {
  width: 778px;
  height: 671px;
}
