/* #sidebar {
    background-color: #fff;
    border-color: #e3ebf6;
    border-width: 0 0 1px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#sidebar .nav-brand {
    align-items: center;
} */
